<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<springProfile name="dev">
		<property name="LOG_FILE" value="log/app-dev.log"/>

	</springProfile>
	<property scope="context" name="COLORIZER_COLORS" value="boldred@,boldyellow@,boldgreen@,boldcyan@,boldblue@" />
	<conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>INFO</level>
	    </filter>
		<withJansi>true</withJansi>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%colorize(%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-40.40logger{36}:%L - %msg%n)</pattern>
		</encoder>
	</appender>

	<appender name="file-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>INFO</level>
	    </filter>
		<file>log/api-server.log</file>
		<prudent>false</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/api-server__%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%colorize(%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-40.40logger{36}:%L - %msg%n)</pattern>
		</encoder>
	</appender>

	<appender name="file-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>DEBUG</level>
	    </filter>
		<file>log/api-server-debug.log</file>
		<prudent>false</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/api-server-debug__%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%colorize(%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-40.40logger{36}:%L - %msg%n)</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="file-info" />
		<appender-ref ref="file-debug" />
	</root>

	<logger name="org.springframework" level="INFO"/>
	<logger name="org.hibernate" level="ERROR"/>
	
</configuration>
